@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto-slab: "Roboto Slab";
  --font-istok-web: "Istok Web";
  --font-inter: Inter;

  /* font sizes */
  --font-size-mid: 17px;
  --font-size-2xs: 11px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-15xl: 34px;
  --font-size-xl: 20px;
  --font-size-8xl: 27px;
  --font-size-10xl: 29px;
  --font-size-4xl: 23px;
  --font-size-4xs: 9px;
  --font-size-lgi: 19px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-7xs: 6px;
  --font-size-17xl: 36px;

  /* Colors */
  --color-white: #fff;
  --color-dodgerblue-100: rgba(17, 138, 250, 0.08);
  --color-dodgerblue-200: rgba(17, 138, 250, 0.1);
  --color-dodgerblue-300: rgba(17, 138, 250, 0.11);
  --color-gray-100: #8e8b8b;
  --color-gray-300: #838383;
  --color-gray-200: rgba(142, 139, 139, 0.59);
  --color-steelblue: #0090af;
  --color-red: #f90d1b;
  --color-darkslategray-100: #404040;
  --color-darkslategray-200: #333;
  --color-whitesmoke: #f5f5f5;
  --color-navy: #060074;
  --color-limegreen: #04cb04;
  --color-black: #000;
  --color-silver: rgba(191, 191, 191, 0.59);
  --color-gainsboro: rgba(217, 217, 217, 0.59);

  /* Gaps */
  --gap-9xl: 28px;
  --gap-0: 0px;
  --gap-2xs: 11px;
  --gap-6xl: 25px;
  --gap-xs-2: 11.2px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-8xs: 5px;
  --gap-xs: 12px;
  --gap-4xs: 9px;
  --gap-smi: 13px;
  --gap-lgi: 19px;
  --gap-29xl: 48px;
  --gap-sm: 14px;
  --gap-43xs: -30px;
  --gap-51xl: 70px;
  --gap-22xl: 41px;
  --gap-613xl: 632px;
  --gap-614xl: 633px;
  --gap-630xl: 649px;
  --gap-725xl: 744px;
  --gap-650xl: 669px;
  --gap-453xl: 472px;
  --gap-750xl: 769px;
  --gap-5xl: 24px;
  --gap-12xs: 1px;
  --gap-10xs: 3px;
  --gap-5xs: 8px;
  --gap-27xs: -14px;
  --gap-mid: 17px;
  --gap-4xs-5: 8.5px;
  --gap-14xl: 33px;
  --gap-3xs: 10px;
  --gap-2xl: 21px;
  --gap-3xs-5: 9.5px;
  --gap-31xl: 50px;
  --gap-mini: 15px;
  --gap-base-3: 16.3px;
  --gap-44xl: 63px;
  --gap-lg-5: 18.5px;
  --gap-16xl: 35px;
  --gap-23xl: 42px;
  --gap-7xl-5: 26.5px;
  --gap-34xl: 53px;
  --gap-smi-5: 12.5px;
  --gap-158xs-9: -145.9px;

  /* Paddings */
  --padding-9xl: 28px;
  --padding-3xl: 22px;
  --padding-11xs: 2px;
  --padding-630xl: 649px;
  --padding-255xl: 274px;
  --padding-403xl: 422px;
  --padding-7xs-1: 5.1px;
  --padding-6xs: 7px;
  --padding-35xl: 54px;
  --padding-xl: 20px;
  --padding-16xl: 35px;
  --padding-smi-8: 12.8px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-8xs: 5px;
  --padding-12xl: 31px;
  --padding-8xl: 27px;
  --padding-sm: 14px;
  --padding-12xs: 1px;
  --padding-4xs: 9px;
  --padding-smi: 13px;
  --padding-mini: 15px;
  --padding-2xs: 11px;
  --padding-lg: 18px;
  --padding-9xs-9: 3.9px;
  --padding-3xs: 10px;
  --padding-54xl: 73px;
  --padding-17xl: 36px;
  --padding-mid: 17px;
  --padding-119xl: 138px;
  --padding-9xs: 4px;
  --padding-91xl: 110px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-6xl: 25px;
  --padding-xs: 12px;
  --padding-15xl: 34px;
  --padding-2xl: 21px;
  --padding-4xl: 23px;
  --padding-40xl: 59px;
  --padding-10xl: 29px;
  --padding-59xl: 78px;
  --padding-8xs-5: 4.5px;
  --padding-9xs-5: 3.5px;

  /* Border radiuses */
  --br-6xl: 25px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-4xs: 9px;
  --br-8xs: 5px;
  --br-11xl: 30px;
  --br-16xl: 35px;
  --br-6xs: 7px;
}
